<span id="illustration-moon-{{ id }}" class="illustration-moon">
  <svg width="24" height="36" viewbox="0 0 24 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <path id="a" d="M0 0h24v36H0z"/>
      </defs>
      <g fill="none" fill-rule="evenodd">
          <mask id="b" fill="#fff">
              <use xlink:href="#a"/>
          </mask>
          <path d="M12.145 18c0-7.798 4.947-14.418 11.855-16.918A17.783 17.783 0 0 0 17.928 0C8.027 0 0 8.059 0 18s8.027 18 17.928 18c2.135 0 4.173-.394 6.072-1.082-6.908-2.5-11.855-9.12-11.855-16.918" fill="#F9B896" mask="url(#b)"/>
      </g>
  </svg>
</span>
