<span id="illustration-star-{{ id }}" class="illustration-star">
  <svg width="21" height="20" viewbox="0 0 21 20" xmlns="http://www.w3.org/2000/svg">
    <path d="m5.447 0 .252 7.092L0 11.321l6.823 1.952L9.084 20l3.965-5.886 7.096-.072-4.373-5.59 2.125-6.77-6.667 2.431z" fill="#F9B896" fill-rule="evenodd"/>
  </svg>
</span>
