<section class="section-hero-banner lazyload" data-aos="fade" data-section-id="{{ section.id }}" data-section-type="hero-banner">
  <div class="page-width">
  </div>
</section>
{% schema %}
  {
    "name": "Material Girl",
    "settings": [],
    "presets": [
      {
        "name": "Material Girl",
        "category": "Slider"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}