<section class="page-introduction{% if section.settings.intro_bg_image != blank %} has-background{% endif %}{% if section.settings.intro_nav != blank %} has-navigation{% endif %} lazyload" data-aos="fade">
  <div class="page-width text-center">

    <div class="max-w-lg text-wrap">
      <h1>
        {% if search.performed %}
          {{ 'general.search.results_for_html' | t: terms: search.terms }}
        {% else %}
          {{ 'general.search.title' | t }}
        {% endif %}
      </h1>
    </div>

  </div>
</section>

{% schema %}
  {
    "name": "Hero",
    "settings": []
  }
{% endschema %}
